#square {
  width: 100px;
  height: 100px;
  background: black;
} 

#squareOne{
  width: 100px;
  height: 100px;
  background: red;
}


#square1 {
  width: 100px;
  height: 100px;
  background: red;
}

